* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(283deg, rgba(42,42,42,1) 3%, rgba(0,0,0,1) 97%);
}
